.main-page {
  height: 100vh;
}

.main-border {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.secondary {
  background-color: #f8f9fa;
  flex-basis: 20%;
  width: 20%;
}

.primary {
  background-color: #ffffff; /* Notion's primary color */
  flex-basis: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-border h2 {
  margin-bottom: 20px;
}

.main-border ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-border li {
  margin-bottom: 10px;
}

.secondary-accordion {
  width: 100%;
}
