.main-page {
  height: 100vh;
  padding: 0 0.8%;
}

.main-border {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
}

.secondary {
  background-color: #f8f9fa;
  flex-basis: 20%;
  width: 20%;
}

.primary {
  background-color: #ffffff; /* Notion's primary color */
  flex-basis: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-border h2 {
  margin-bottom: 20px;
}

.main-border ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-border li {
  margin-bottom: 10px;
}

.secondary-accordion {
  width: 100%;
}

.drop-item h2 {
  margin: 0;
}

.accordion-body{
  padding: 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-name {
  order: 1;
}


.user-tab {
  padding-left: 10px;
}

.selectable-item {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  width: 50%;
  display: flex;
  align-items: center;
}

.span {
  display: flex;
  justify-content: space-between;
}

.selectable-item:hover {
  background-color: #ebebeb;
}

.book-add{
  background-color: #e1fccf;
}

.del-cat{
  background-color: #fccfcf;
}

.selected {
  background-color: #d6d6d6;
}

.btn-red{
  border-color: red;
}

.pdf-document {
  --scale-factor: 1;
}

/* Styles for the container holding the PDF viewer */
.pdf-container {
  width: 100%;
  height: 600px;
}

/* Styles for the individual pages in the PDF */
.pdf-page {
  display: block;
  margin: 0 auto;
}

/* Styles for the text layer within the PDF viewer */
.pdf-text-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Styles for the text within the text layer */
.pdf-text-layer-text {
  font-size: 12px;
  color: #000;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px;
}

/* Styles for the annotation layer within the PDF viewer */
.pdf-annotation-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

