{% load static %}
<html>
<head>
    <title>StudySenseAI</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Retrieve the CSRF token from the cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        var startTime;

        $(document).ready(function() {
            startTime = new Date().getTime();  // Record the start time when the page loads
        });

        $(window).on('beforeunload', function() {
            var endTime = new Date().getTime();  // Record the end time when the user leaves the page
            var timeSpent = endTime - startTime;  // Calculate the time spent on the page
            sendDataToBackend(timeSpent);  // Send the time spent to your Django backend
        });

        function sendDataToBackend(timeSpent) {
            // Retrieve the CSRF token
            var csrftoken = getCookie('csrftoken');

            // Use AJAX to send the time spent to your Django backend
            $.ajax({
                type: "POST",
                url: "{% url 'record_time' %}",  // Replace 'record_time' with the actual URL in your Django project to handle this request
                data: {
                    'time_spent': timeSpent,
                    'name': '{{ name|escapejs }}'  // Wrap the name variable in quotes and escape JavaScript special characters
                },
                beforeSend: function(xhr, settings) {
                    // Include the CSRF token in the request headers
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function(response) {
                    console.log("Time spent successfully stored in the database.");
                },
                error: function(xhr, errmsg, err) {
                    console.log("Failed to store time spent: " + errmsg);
                }
            });
        }
    </script>
</head>
<body>
    <button onclick="window.location.href = '{% url 'home' %}';">Exit</button>
    <h2>PDF Detail</h2>
    <h3>Name: {{ name }}</h3>
    <h3>Category: {{ cat.name }}</h3>
    <h3>Created at: {{ created }}</h3>
    <embed src="{{ pdf.file.url }}" width="100%" height="500px">
</body>
</html>
